<div class="page">
  <div class="synthesizer">
    <div class="title-panel">
      <div class="model">MikeCassidy <span class='robot'>SYNTHESIZER</span>-17</div>
    </div>
    <div class="top-panel">
      <div class="row">
        <div class="col-sm-4">
          <%= render "experience"%>
        </div>
        <div class="col-sm-3">
          <%= render "projects" %>
        </div>
        <div class="col-sm-3">
          <%= render "description" %>
        </div>
        <div class="col-sm-2">
          <%= render 'mailer'%>
        </div>
      </div>
    </div>

    <div class="middle-panel">

    </div>

    <div class="bottom-panel">
      <div class="row">
        <div class="col-sm-4">
          <%= render "skillset" %>
        </div>
        <div class="col-sm-8">
          <%= render "keyboard" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="leather"></div>

