.page
  .case
    .synthesizer
      .title-panel
        .screw
        .screw
        .screw
        .model
          Mike Cassidy
          %span.robot
          %span.small model
          %span.version 2017
      .top-panel
        .row
          .col-sm-4.desktop
            = render "experience"
          .col-sm-3
            = render "projects"
          .col-sm-3
            = render "description"
          .col-sm-4.mobile
            = render "experience"
          .col-sm-4.mobile
            = render "skillset"
          .col-sm-2
            = render "mailer"
          .col-sm-2
            = render "keyboard-mobile"
      .middle-panel
        .screw
        .screw
        .screw
      .bottom-panel
        .row
          .col-sm-4.desktop
            = render "skillset"
          .col-sm-8
            = render "keyboard"
      .leather



