<!DOCTYPE html>
<html>
  <head>
    <title>Mike Cassidy Portfolio</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Mike Cassidy, mikecassidy0000@gmail.com">
    <meta name="keywords" content="Web Developer, Mike Cassidy, Resume, Portfolio, Music, Boston, Montreal">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto+Mono|Orbitron|Quantico" rel="stylesheet">
    <link rel="icon" type="image/png" href="https://i.imgur.com/51FUabu.png">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


<script>
  $(document).ready(() => {
    $('.bellabutton').on('click', () => {
      $('.bellabutton').addClass('button-active'), $('.bella').show(), $('.rama').hide(), $('.commons').hide()
    })
    $('.commonsbutton').on('click', () => {
        $('.commonsbutton').addClass('button-active'), $('.commons').show(), $('.rama').hide(), $('.bella').hide()
    })
     $('.ramabutton').on('click', () => {
       $('.ramabutton').addClass('button-active'), $('.rama').show(), $('.commons').hide(), $('.bella').hide()
    })
      $('.bellabutton').on('mouseenter', () => {
      $('.bellabutton').addClass('button-active'), $('.bella').show(), $('.rama').hide(), $('.commons').hide()
    })
    $('.commonsbutton').on('mouseenter', () => {
        $('.commonsbutton').addClass('button-active'), $('.commons').show(), $('.rama').hide(), $('.bella').hide()
    })
     $('.ramabutton').on('mouseenter', () => {
       $('.ramabutton').addClass('button-active'), $('.rama').show(), $('.commons').hide(), $('.bella').hide()
    })
      $('.ramabutton').on('mouseleave', () => {
         $('.ramabutton').removeClass('button-active')
    })
        $('.commonsbutton').on('mouseleave', () => {
         $('.commonsbutton').removeClass('button-active')
    })
          $('.bellabutton').on('mouseleave', () => {
         $('.bellabutton').removeClass('button-active')
    })


    var audio = document.getElementById("audio");
   function playAud() {
        audio.play();
    }


    $('.key1').click(function() {
      $(this).playAud();
    });



});

</script>
<script>
  $(document).ready(function() {
    var audioElement = document.createElement('audio');


    $('.key1').mousedown(function() {
      audioElement.setAttribute('src', '<%= audio_path 'Hard.wav'%>');
    });
    $('.key2').mousedown(function() {
      audioElement.setAttribute('src', '<%= audio_path '80s.wav'%>');
    });
    $('.key3').mousedown(function() {
      audioElement.setAttribute('src', '<%= audio_path 'Forest.wav'%>');
    });

    $('.key4').mousedown(function() {
      audioElement.setAttribute('src', '<%= audio_path 'Rich2.wav'%>');
    });
    $('.key5').mousedown(function() {
      audioElement.setAttribute('src', '<%= audio_path 'Rich.wav'%>');
    });
    $('.key6').mousedown(function() {
      audioElement.setAttribute('src', '<%= audio_path 'FairLow.wav'%>');
    });
    $('.key7').mousedown(function() {
      audioElement.setAttribute('src', '<%= audio_path 'Pomp.wav'%>');
    });
    $('.key8').mousedown(function() {
      audioElement.setAttribute('src', '<%= audio_path 'Basic.wav'%>');
    });
    $('.key9').mousedown(function() {
      audioElement.setAttribute('src', '<%= audio_path 'Drone.wav'%>');
    });
     $('.key10').mousedown(function() {
      audioElement.setAttribute('src', '<%= audio_path 'Ambient.wav'%>');
    });
     $('.key11').mousedown(function() {
      audioElement.setAttribute('src', '<%= audio_path 'Dark.wav'%>');
    });
    $('.key12').mousedown(function() {
      audioElement.setAttribute('src', '<%= audio_path 'Blubby.wav'%>');
    });
    $('.key13').mousedown(function() {
      audioElement.setAttribute('src', '<%= audio_path 'funky.wav'%>');
    });
    $('.key14').mousedown(function() {
      audioElement.setAttribute('src', '<%= audio_path 'Pwm.wav'%>');
    });
     $('.key15').mousedown(function() {
      audioElement.setAttribute('src', '<%= audio_path 'Pwm.wav'%>');
    });
    $('.key16').mousedown(function() {
      audioElement.setAttribute('src', '<%= audio_path 'Pwm.wav'%>');
    });
     $('.key17').mousedown(function() {
      audioElement.setAttribute('src', '<%= audio_path 'Pwm.wav'%>');
    });
    $('.key18').mousedown(function() {
      audioElement.setAttribute('src', '<%= audio_path 'Pwm.wav'%>');
    });
    $('.key19').mousedown(function() {
      audioElement.setAttribute('src', '<%= audio_path 'Pwm.wav'%>');
    });
    $('.key20').mousedown(function() {
      audioElement.setAttribute('src', '<%= audio_path 'Pwm.wav'%>');
    });
     $('.key21').mousedown(function() {
      audioElement.setAttribute('src', '<%= audio_path 'Pwm.wav'%>');
    });
    $('.key22').mousedown(function() {
      audioElement.setAttribute('src', '<%= audio_path 'Pwm.wav'%>');
    });
     $('.key23').mousedown(function() {
      audioElement.setAttribute('src', '<%= audio_path 'Pwm.wav'%>');
    });
      $('.key24').mousedown(function() {
      audioElement.setAttribute('src', '<%= audio_path 'Pwm.wav'%>');
    });
    $('.key25').mousedown(function() {
      audioElement.setAttribute('src', '<%= audio_path 'Pwm.wav'%>');
    });
    $('.key26').mousedown(function() {
      audioElement.setAttribute('src', '<%= audio_path 'Pwm.wav'%>');
    });
     $('.key27').mousedown(function() {
      audioElement.setAttribute('src', '<%= audio_path 'Pwm.wav'%>');
    });
    $('.key28').mousedown(function() {
      audioElement.setAttribute('src', '<%= audio_path 'Pwm.wav'%>');
    });
     $('.key29').mousedown(function() {
      audioElement.setAttribute('src', '<%= audio_path 'Pwm.wav'%>');
    });
  $('.key30').mousedown(function() {
      audioElement.setAttribute('src', '<%= audio_path 'Pwm.wav'%>');
    });
     $('.key31').mousedown(function() {
      audioElement.setAttribute('src', '<%= audio_path 'Pwm.wav'%>');
    });



    $('.key').mousedown(function(){
      audioElement.play();
    });


    $('.key').mouseup(function() {
        audioElement.pause();
        audioElement.currentTime = 0;
    });


});

</script>






 <script async="" src="https://www.google-analytics.com/analytics.js"></script>
                    <script>
                        function greet() {
                            var nameVal = document.getElementById('name').checkValidity();
                            var emailVal = document.getElementById('email').checkValidity();
                            var textareaVal = document.getElementById('message').checkValidity();
                            if (nameVal && emailVal && textareaVal) {
                                document.getElementById('sendButton').style.width = "97px";
                                document.getElementById('sendButton').setAttribute('value', 'thanks!');
                            }
                        }
                    </script>




  </head>

  <body style="  font-family: apercu, sans-serif;">
    <%= yield %>
  </body>
</html>
