<!DOCTYPE html>
<html>
  <head>
    <title>Mike Cassidy Portfolio</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Mike Cassidy, mikecassidy0000@gmail.com">
    <meta name="keywords" content="Web Developer, Mike Cassidy, Resume, Portfolio, Music, Boston, Montreal">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto+Mono|Orbitron|Quantico" rel="stylesheet">
    <link rel="icon" type="image/png" href="https://i.imgur.com/51FUabu.png">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application' %>
<script src="https://rawgit.com/aterrien/jQuery-Knob/master/dist/jquery.knob.min.js"></script>
<script src="https://rawgit.com/louisremi/jquery.transform.js/master/jquery.transform3d.js"></script>
<!-- <script src="assets/knobKnob/knobKnob.jquery.js"></script> -->
<script src="https://rawgit.com/fryn/html5slider/gh-pages/html5slider.js"></script>
<script src="https://rawgit.com/martinaglv/KnobKnob/master/knobKnob/knobKnob.jquery.js"></script>
<!-- <script src="html5slider.js"></script> -->
 <script async="" src="https://www.google-analytics.com/analytics.js"></script>



  </head>

  <body style="  font-family: apercu, sans-serif;">
    <%= yield %>
  </body>
</html>
