<!DOCTYPE html>
<html>
  <head>
    <title>Mike Cassidy Portfolio</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Mike Cassidy, mikecassidy0000@gmail.com">
    <meta name="keywords" content="Web Developer, Mike Cassidy, Resume, Portfolio, Music, Boston, Montreal">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto+Mono|Orbitron|Quantico" rel="stylesheet">
    <link rel="icon" type="image/png" href="https://i.imgur.com/51FUabu.png">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application' %>


<script src="scripts/qwerty-hancock.min.js"></script>
<script>
  $(document).ready(() => {
    $('.bellabutton').on('click', () => {
      $('.bellabutton').addClass('button-active'), $('.bella').show(), $('.rama').hide(), $('.commons').hide()
    })
    $('.commonsbutton').on('click', () => {
        $('.commonsbutton').addClass('button-active'), $('.commons').show(), $('.rama').hide(), $('.bella').hide()
    })
     $('.ramabutton').on('click', () => {
       $('.ramabutton').addClass('button-active'), $('.rama').show(), $('.commons').hide(), $('.bella').hide()
    })
      $('.bellabutton').on('mouseenter', () => {
      $('.bellabutton').addClass('button-active'), $('.bella').show(), $('.rama').hide(), $('.commons').hide()
    })
    $('.commonsbutton').on('mouseenter', () => {
        $('.commonsbutton').addClass('button-active'), $('.commons').show(), $('.rama').hide(), $('.bella').hide()
    })
     $('.ramabutton').on('mouseenter', () => {
       $('.ramabutton').addClass('button-active'), $('.rama').show(), $('.commons').hide(), $('.bella').hide()
    })
      $('.ramabutton').on('mouseleave', () => {
         $('.ramabutton').removeClass('button-active')
    })
        $('.commonsbutton').on('mouseleave', () => {
         $('.commonsbutton').removeClass('button-active')
    })
          $('.bellabutton').on('mouseleave', () => {
         $('.bellabutton').removeClass('button-active')
    })


    var audio = document.getElementById("audio");
   function playAud() {
        audio.play();
    }


    $('.key1').click(function() {
      $(this).playAud();
    });



});

</script>






 <script async="" src="https://www.google-analytics.com/analytics.js"></script>
                    <script>
                        function greet() {
                            var nameVal = document.getElementById('name').checkValidity();
                            var emailVal = document.getElementById('email').checkValidity();
                            var textareaVal = document.getElementById('message').checkValidity();
                            if (nameVal && emailVal && textareaVal) {
                                document.getElementById('sendButton').style.width = "97px";
                                document.getElementById('sendButton').setAttribute('value', 'thanks!');
                            }
                        }
                    </script>




  </head>

  <body style="  font-family: apercu, sans-serif;">
    <%= yield %>
  </body>
</html>
