<!DOCTYPE html>
<html>
  <head>
    <title>Mike Cassidy Portfolio</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Mike Cassidy, mikecassidy0000@gmail.com">
    <meta name="keywords" content="Web Developer, Mike Cassidy, Resume, Portfolio, Music, Boston, Montreal">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto+Mono|Orbitron|Quantico" rel="stylesheet">
    <link rel="icon" type="image/png" href="https://i.imgur.com/51FUabu.png">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


<script>
  $(document).ready(() => {
    $('.bellabutton').on('click', () => {
      $('.bellabutton').addClass('button-active'), $('.bella').show(), $('.rama').hide(), $('.commons').hide()
    })
    $('.commonsbutton').on('click', () => {
        $('.commonsbutton').addClass('button-active'), $('.commons').show(), $('.rama').hide(), $('.bella').hide()
    })
     $('.ramabutton').on('click', () => {
       $('.ramabutton').addClass('button-active'), $('.rama').show(), $('.commons').hide(), $('.bella').hide()
    })
      $('.bellabutton').on('mouseenter', () => {
      $('.bellabutton').addClass('button-active'), $('.bella').show(), $('.rama').hide(), $('.commons').hide()
    })
    $('.commonsbutton').on('mouseenter', () => {
        $('.commonsbutton').addClass('button-active'), $('.commons').show(), $('.rama').hide(), $('.bella').hide()
    })
     $('.ramabutton').on('mouseenter', () => {
       $('.ramabutton').addClass('button-active'), $('.rama').show(), $('.commons').hide(), $('.bella').hide()
    })
      $('.ramabutton').on('mouseleave', () => {
         $('.ramabutton').removeClass('button-active')
    })
        $('.commonsbutton').on('mouseleave', () => {
         $('.commonsbutton').removeClass('button-active')
    })
          $('.bellabutton').on('mouseleave', () => {
         $('.bellabutton').removeClass('button-active')
    })


    var audio = document.getElementById("audio");
   function playAud() {
        audio.play();
    }


    $('.key1').click(function() {
      $(this).playAud();
    });



});

</script>
<script>
  $(document).ready(function() {
    var audioElement = document.createElement('audio');

    function keyPress(key, source){
      $(key).mousedown(function() {
      audioElement.setAttribute('src', source);
    });
    };

    keyPress(".key1", "<%= audio_path 'Hard.wav'%>");
    keyPress(".key2", "<%= audio_path '80s.wav'%>");
    keyPress(".key3", "<%= audio_path 'Forest.wav'%>");
    keyPress(".key4", "<%= audio_path 'Rich2.wav'%>");
    keyPress(".key5", "<%= audio_path 'Rich.wav'%>");
    keyPress(".key6", "<%= audio_path 'FairLow.wav'%>");
    keyPress(".key7", "<%= audio_path 'Pomp.wav'%>");
    keyPress(".key8", "<%= audio_path 'Basic.wav'%>");
    keyPress(".key9", "<%= audio_path 'Drone.wav'%>");
    keyPress(".key10", "<%= audio_path 'Ambient.wav'%>");
    keyPress(".key11", "<%= audio_path 'Blubby.wav'%>");
    keyPress(".key12", "<%= audio_path 'funky.wav'%>");
    keyPress(".key13", "<%= audio_path 'Pwm.wav'%>");
    keyPress(".key14", "<%= audio_path 'Porta.wav'%>");
    keyPress(".key15", "<%= audio_path 'Magic.wav'%>");
    keyPress(".key16", "<%= audio_path 'Saw.wav'%>");
    keyPress(".key17", "<%= audio_path 'Mello.wav'%>");
    keyPress(".key18", "<%= audio_path 'Japan.wav'%>");
    keyPress(".key19", "<%= audio_path 'Foggy.wav'%>");
    keyPress(".key20", "<%= audio_path '80s.wav'%>");
    keyPress(".key21", "<%= audio_path 'Hard.wav'%>");
    keyPress(".key22", "<%= audio_path '80s.wav'%>");
    keyPress(".key23", "<%= audio_path 'Hard.wav'%>");
    keyPress(".key24", "<%= audio_path '80s.wav'%>");
    keyPress(".key25", "<%= audio_path 'Hard.wav'%>");
    keyPress(".key26", "<%= audio_path '80s.wav'%>");
    keyPress(".key27", "<%= audio_path 'Hard.wav'%>");
    keyPress(".key28", "<%= audio_path '80s.wav'%>");
    keyPress(".key29", "<%= audio_path 'Hard.wav'%>");
    keyPress(".key30", "<%= audio_path '80s.wav'%>");
    keyPress(".key31", "<%= audio_path 'Hard.wav'%>");

    $('.key').mousedown(function(){
      audioElement.play();
    });

    $('.key').mouseup(function() {
        audioElement.pause();
        audioElement.currentTime = 0;
    });


});

</script>






 <script async="" src="https://www.google-analytics.com/analytics.js"></script>
                    <script>
                        function greet() {
                            var nameVal = document.getElementById('name').checkValidity();
                            var emailVal = document.getElementById('email').checkValidity();
                            var textareaVal = document.getElementById('message').checkValidity();
                            if (nameVal && emailVal && textareaVal) {
                                document.getElementById('sendButton').style.width = "97px";
                                document.getElementById('sendButton').setAttribute('value', 'thanks!');
                            }
                        }
                    </script>




  </head>

  <body style="  font-family: apercu, sans-serif;">
    <%= yield %>
  </body>
</html>
